@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-center justify-content-center">
    <h1 class="display-4">Welcome user profile app</h1>
    <button>
         <a class="btn" asp-action="login" asp-controller="account">Log in your account</a>
    </button>
   
</div>

@section addcss{
   <link rel="stylesheet" href="~/css/register.css" />
}

